<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrar</title>
    <link rel="stylesheet" href="../../build/assets/css/app.css" />
    <link
      rel="shortcut icon"
      href="../../build/assets/images/favicon.png"
      type="image/x-icon"
    />
  </head>

  <body class="h-screen flex overflow-hidden">
    <div class="w-1/2 h-full">
      <img
        src="../../build/assets/images/bzd-login.png"
        alt="Buzzard login"
        class="h-full w-full object-cover"
      />
    </div>

    <div class="w-1/2 h-full flex justify-center items-center">
      <div
        class="border border-bzd-orange rounded-lg p-8 w-1/2 shadow-md bg-white"
      >
        <div class="flex justify-center mb-4">
          <img
            src="../../build/assets/images/logo140px.png"
            alt="Buzzard Logo"
            class="h-32"
          />
        </div>
        <h1 class="text-2xl font-bold text-center mb-4">
          Bem Vindo ao Buzzard PIX
        </h1>

        <form
          [formGroup]="formgroup"
          (ngSubmit)="onFormSubmit()"
          class="space-y-4"
        >
          <div>
            <label for="email" class="block text-bzd-orange font-semibold mb-1">
              E-mail
            </label>
            <input
              id="email"
              type="email"
              formControlName="email"
              placeholder="caetano.gornes@gmail.com"
              class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-bzd-orange"
            />
            <p *ngIf="emailValid" class="text-red-500">Email inválido</p>
          </div>

          <div>
            <label
              for="password"
              class="block text-bzd-orange font-semibold mb-1"
              >Senha</label
            >
            <input
              id="password"
              type="password"
              formControlName="password"
              placeholder="Digite sua senha"
              class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-bzd-orange"
            />
            <div *ngIf="passwordValid" class="text-red-500">
              <p>A senha deve conter:</p>
              <ul>
                <li>Entre 6 a 20 caracteres</li>
                <li>1 Letra maiúscula</li>
                <li>1 Letra minúscula</li>
                <li>1 Número</li>
                <li>1 Caractere especial (+-_!@#$%^&*.,?)</li>
              </ul>
            </div>
          </div>

          <div>
            <label
              for="confirmPassword"
              class="block text-bzd-orange font-semibold mb-1"
            >
              Repita a senha
            </label>
            <input
              id="confirmPassword"
              type="password"
              formControlName="confirmPassword"
              placeholder="Repita sua senha"
              class="w-full border rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-bzd-orange"
            />
            <p *ngIf="confirmPasswordValid" class="text-red-500">
              As senhas devem ser iguais
            </p>
          </div>

          <button
            type="submit"
            class="w-full bg-bzd-orange hover:bg-bzd-orange-dark text-white font-bold py-2 rounded-lg"
          >
            Criar
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
